torch>=2.6.0
torchvision>=0.13.0
numpy>=2.2.5
matplotlib>=3.10.3
tqdm>=4.67.1
PyYAML>=6.0.2
tensorboard>=2.8.0
opencv-python>=4.11.0.86
opencv-python-headless>=4.11.0.86
albumentations>=2.0.5
decord>=0.6.0
peft>=0.15.2
prodigyopt>=1.1.2
sympy>=1.13.1
scikit-learn>=1.0.0
scipy>=1.15.3
pillow>=9.0.0
setuptools>=65.5.1
wheel>=0.38.0